.div76 {
  position: absolute;
  top: 32px;
  left: 50px;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  display: inline-block;
  width: 610px;
  height: 44px;
}
.lenka-child,
.lenka-item {
  position: absolute;
  top: 103.5px;
  left: 38px;
  max-height: 100%;
  width: 898px;
}
.lenka-item {
  top: 333px;
}
.div77 {
  top: 138px;
  left: 50px;
  width: 301px;
}
.div77,
.div78,
.div79,
.div80 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  height: 44px;
}
.div78 {
  top: 138px;
  left: 319px;
  color: var(--color-slateblue);
  width: 205px;
}
.div79,
.div80 {
  top: 260px;
  left: 50px;
  width: 131px;
}
.div80 {
  left: 157px;
  color: var(--color-slateblue);
  width: 112px;
}
.div81 {
  top: 199px;
  left: 50px;
  width: 257px;
  height: 44px;
}
.div81,
.div82,
.div83 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.div82 {
  top: 199px;
  left: 288px;
  color: var(--color-slateblue);
  width: 664px;
  height: 44px;
}
.div83 {
  top: 350px;
  left: 50px;
  width: 166px;
  height: 38px;
}
.icons8-phone-50-15 {
  position: absolute;
  top: 417px;
  left: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.icons8-telegram-app-100-14,
.icons8-vk-96-14 {
  position: absolute;
  top: 484px;
  left: 50px;
  width: 73px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}
.icons8-telegram-app-100-14 {
  top: 488px;
  left: 126px;
  width: 62px;
  height: 62px;
}
.div84 {
  position: absolute;
  top: 427px;
  left: 102px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.icons8-odnoklassniki-100-13 {
  position: absolute;
  top: 486px;
  left: 201px;
  width: 57px;
  height: 64px;
  object-fit: cover;
  cursor: pointer;
}
.lenka {
  width: 970px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 568px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
